*{
    margin: 0;
    padding: 0;
    list-style: none;
    a {
        font-size: 12px;
        margin-left: 15px;
    }
    
    a:link{		/*默认状态*/
        color: blue;text-decoration:none;
    }
    a:visited{	/*浏览过的*/
        color:blue;
    }
    a:hover{	/*悬浮状态*/
        color:orange;text-decoration: underline;
    }
    box-sizing: border-box;
}
#bg_head{
    height: 100px;
    width: 100%;
    position: relative;

#head{
    height: 100px;
    width: 100%;

#nav_left{
    height: 50px;
    width: 200px;
    background: cyan;
    position: absolute;
    left: 0;
}
#nav_center{
    height: 37px;
    width: 900px;
    position: absolute;
    left:200px;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 5px;

    #search-alias{
        height: 35px;
        border: none;
        width: 100px;
        border-right: 1px solid black;
        outline: none;
       
    }

    #head_input{
        height: 31px;
        border: none;
        width: 700px;
        outline: none;
       
    }

    #head_button{
        height: 35px;
        width: 90px;
        float: right;
        border: none;
        background: #5e5766;
        outline: none;
        color: #fff;
    }

}
#nav_right{
    height: 50px;
    width: 400px;
    position: absolute;
    right: 0;
    background: red;
}
}

#nav_shop{
    height: 70px;
    width: 1100px;
    position: absolute;
    top: 50px;
    background: skyblue;

        #line_1{
            position: absolute;
            top: 20px;
            font-size: 12px;
            margin-left: 10px;
        }
        #line_2{
            position: absolute;
            top: 32px;
            margin-left: 10px;
        }

        #nav_a{
            position: absolute;
            top: 32px;
            left: 180px;

             
            
        }


        
}

#tools{
    height: 70px;
    width: 400px;
    position: absolute;
    top: 50px;
    right: 0;
    background: cyan;
    display: flex;

    .tools_box{
        height: 70px;
        width: 95px;
        flex: 1;
    }





    #tools_line1{
        font-size: 12px;
         position: absolute;
         top: 8px;
         left: 20px;
         

     }
     #tools_line2{
        font-size: 12px;
        position: absolute;
        top: 8px;
        left: 120px;
     }
     #tools_line3{
        position: absolute;
        top:20px;
        left: 20px;
     }
     #tools_line4{
        position: absolute;
        top:20px;
        left: 120px;
     }
     #tools_line5{
        position: absolute;
        top:20px;
        left: 220px;
     }
     #tools_line6{
        position: absolute;
        top:20px;
        left: 320px;
     }

     #tools_message{
         height: 300px;
         width: 200px;
         background: pink;
         position: absolute;
         left: 0;
         top: 50px;
         display: none;
         #tools_message_triangle{
             height: 0;
             width: 0;
             border: 9px solid transparent;
             border-bottom-color: black;
             position: absolute;
             top: -18px;
             left: 88px;
         }
         #tools_message_button{
             width: 180px;
             height: 40px;
             margin-left: 10px;
         }
         #tools_message_span{
             font-size: 12px;
             padding-left: 10px;
         }
     }

}
}// 头部——————————————————————————————————————————-


// 内容--------------------------------------------
#bg_content{
    height: 500px;
    background: orange;

}


// 尾部----------------------------------------------

#bg_Tail{
    width: 100%;
    height: 400px;
    background: skyblue;
    margin: 0 auto;
    #Tail{
        width: 1500px;
        height: 400px;
        margin: 0 auto;
        background: pink;
        position: relative;
        overflow: hidden;
    }

    #Tail_head{
        height: 200px;
        width: 700px;
        margin: 30px auto 0;
        display: flex;
      
        div{
            flex: 1;
            text-align: left;
        }
    }

    .Tail_img{
        width: 100%;
        height: 19px;
        background: orange;
    }

    .Tail_line1{
            width: 100%;
            text-align: center;
            
            ul{
                display: inline-block;
                .tail_line_first>a{
                    border: none;
                }
            }
            ul li{
                display: inline-block;
                line-height: 18px;
                a{
                    border-left: 1px solid #5e5766;
                    margin: 0;
                    padding: 0 5px 0;
                }
               
            }
            
            span{
                 color: #767676;
                 font-size: 11px;
                 text-align: center;
                 line-height: 18px;
            }
            
    }

    .Tail_line2{
        width: 100%;
        text-align: center;
        ul{
            display: inline-block;
            .tail_line_first>a{
               border: none;
            }
        }
        ul li{
            display: inline-block;
            line-height: 18px;
            a{
                border-left: 1px solid black;
                margin: 0;
                padding: 0 5px 0;
            }
            
        }
        span{
            color: black;
            font-size: 11px;
            text-align: center;
            line-height: 18px;
       }
       
    }




}



















