@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  font-size: 12px;
  margin-left: 15px;
}

* a:link {
  /*默认状态*/
  color: blue;
  text-decoration: none;
}

* a:visited {
  /*浏览过的*/
  color: blue;
}

* a:hover {
  /*悬浮状态*/
  color: orange;
  text-decoration: underline;
}

#bg_head {
  height: 100px;
  width: 100%;
  position: relative;
}

#bg_head #head {
  height: 100px;
  width: 100%;
}

#bg_head #head #nav_left {
  height: 50px;
  width: 200px;
  background: cyan;
  position: absolute;
  left: 0;
}

#bg_head #head #nav_center {
  height: 37px;
  width: 900px;
  position: absolute;
  left: 200px;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 5px;
}

#bg_head #head #nav_center #search-alias {
  height: 35px;
  border: none;
  width: 100px;
  border-right: 1px solid black;
  outline: none;
}

#bg_head #head #nav_center #head_input {
  height: 31px;
  border: none;
  width: 700px;
  outline: none;
}

#bg_head #head #nav_center #head_button {
  height: 35px;
  width: 90px;
  float: right;
  border: none;
  background: #5e5766;
  outline: none;
  color: #fff;
}

#bg_head #head #nav_right {
  height: 50px;
  width: 400px;
  position: absolute;
  right: 0;
  background: red;
}

#bg_head #nav_shop {
  height: 50px;
  width: 1100px;
  position: absolute;
  top: 45px;
  background: skyblue;
}

#bg_head #nav_shop #nav_content {
  width: 160px;
  background: skyblue;
  padding-top: 15px;
}

#bg_head #nav_shop #nav_content #nav_shadow {
  height: 0;
  width: 0;
  border: 9px solid transparent;
  border-bottom-color: black;
  position: absolute;
  left: 115px;
  top: 30px;
}

#bg_head #nav_shop #nav_content li {
  height: 22px;
}

#bg_head #nav_shop #nav_content p {
  height: 30px;
  line-height: 30px;
}

#bg_head #nav_shop #nav_line_box {
  height: 50px;
  width: 100px;
  margin-left: 15px;
}

#bg_head #nav_shop #nav_line_box #line_1 {
  position: absolute;
  top: 15px;
  font-size: 12px;
}

#bg_head #nav_shop #nav_line_box #line_2 {
  position: absolute;
  top: 30px;
}

#bg_head #nav_shop #nav_a {
  position: absolute;
  top: 30px;
  left: 180px;
}

#bg_head #tools {
  height: 50px;
  width: 400px;
  position: absolute;
  top: 50px;
  right: 0;
  background: cyan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bg_head #tools .tools_box {
  height: 50px;
  width: 95px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#bg_head #tools #tools_line1 {
  font-size: 12px;
  position: absolute;
  top: 8px;
  left: 20px;
}

#bg_head #tools #tools_line2 {
  font-size: 12px;
  position: absolute;
  top: 8px;
  left: 120px;
}

#bg_head #tools #tools_line3 {
  position: absolute;
  top: 20px;
  left: 20px;
}

#bg_head #tools #tools_line4 {
  position: absolute;
  top: 20px;
  left: 120px;
}

#bg_head #tools #tools_line5 {
  position: absolute;
  top: 20px;
  left: 220px;
}

#bg_head #tools #tools_line6 {
  position: absolute;
  top: 20px;
  left: 320px;
}

#bg_head #tools #tools_message {
  width: 200px;
  background: pink;
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
}

#bg_head #tools #tools_message #tools_message_triangle {
  height: 0;
  width: 0;
  border: 9px solid transparent;
  border-bottom-color: black;
  position: absolute;
  top: -18px;
  left: 88px;
}

#bg_head #tools #tools_message #tools_message_button {
  width: 180px;
  height: 40px;
  margin-left: 10px;
}

#bg_head #tools #tools_message #tools_message_span {
  font-size: 12px;
  padding-left: 10px;
}

#bg_content {
  height: 500px;
  background: orange;
}

#bg_Tail {
  width: 100%;
  height: 400px;
  background: skyblue;
  margin: 0 auto;
}

#bg_Tail #Tail {
  width: 1500px;
  height: 400px;
  margin: 0 auto;
  background: pink;
  position: relative;
  overflow: hidden;
}

#bg_Tail #Tail_head {
  height: 200px;
  width: 700px;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bg_Tail #Tail_head div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

#bg_Tail .Tail_img {
  width: 100%;
  height: 19px;
  background: orange;
}

#bg_Tail .Tail_line1 {
  width: 100%;
  text-align: center;
}

#bg_Tail .Tail_line1 ul {
  display: inline-block;
}

#bg_Tail .Tail_line1 ul .tail_line_first > a {
  border: none;
}

#bg_Tail .Tail_line1 ul li {
  display: inline-block;
  line-height: 18px;
}

#bg_Tail .Tail_line1 ul li a {
  border-left: 1px solid #5e5766;
  margin: 0;
  padding: 0 5px 0;
}

#bg_Tail .Tail_line1 span {
  color: #767676;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
}

#bg_Tail .Tail_line2 {
  width: 100%;
  text-align: center;
}

#bg_Tail .Tail_line2 ul {
  display: inline-block;
}

#bg_Tail .Tail_line2 ul .tail_line_first > a {
  border: none;
}

#bg_Tail .Tail_line2 ul li {
  display: inline-block;
  line-height: 18px;
}

#bg_Tail .Tail_line2 ul li a {
  border-left: 1px solid black;
  margin: 0;
  padding: 0 5px 0;
}

#bg_Tail .Tail_line2 span {
  color: black;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
}
/*# sourceMappingURL=home.css.map */