*{
    padding: 0;
    margin: 0;
    list-style: none;
    a {
        font-size: 12px;
    }
    
    a:link{		/*默认状态*/
        color: blue;text-decoration:none;
    }
    a:visited{	/*浏览过的*/
        color:blue;
    }
    a:hover{	/*悬浮状态*/
        color:orange;text-decoration: underline;
    }
    box-sizing: border-box;

}
#bg_head{
    height: 40px;
    width: 100%;
    #head{
        height: 40px;
        width: 90px;
        background: orange;
        margin: 0 auto;
    }
}

#bg_content{
    height: 600px;
    width: 100%;
    #content{
        height: 600px;
        width: 350px;
        margin: 10px auto 0;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;

        h1{
            font-weight: 400;
        }
        h5{
            font-weight: 400;
            text-align: center;
            margin-top: 20px;
           
        }

        .content_span{
            display: flex;
            font-size: 14px;
            font-weight: 600;
            margin-top: 20px;
            a{
                margin-left: 200px;
                line-height: 20px;
                font-weight: 400;
            }
            
        }



        input{
            height: 40px;
            width: 300px;
        }

        #login_button{
            height: 40px;
            width: 300px;
            margin-top: 20px;
            background: #f0c14b;
            outline: none;
            border-radius: 5px;
            
            
        }
        #createAccount{
            height: 40px;
            width: 300px;
            margin:0;
            background: #E7E9EC;
            outline: none;
            border-radius: 5px;
           
            
        }
        #legalTextRow{
            font-size: 12px;
            margin-top: 20px;
           }

    }

}