@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  font-size: 12px;
  margin-left: 15px;
}

* a:link {
  /*默认状态*/
  color: #0055AA;
  text-decoration: none;
}

* a:visited {
  /*浏览过的*/
  color: #0055AA;
}

* a:hover {
  /*悬浮状态*/
  color: orange;
  text-decoration: underline;
}

#bg_head {
  height: 100px;
  width: 100%;
  position: relative;
}

#bg_head #head {
  height: 100px;
  width: 100%;
  background: -webkit-linear-gradient(top, white, white, #F0F0F0);
}

#bg_head #head #nav_left {
  height: 50px;
  width: 200px;
  position: absolute;
  left: 0;
}

#bg_head #head #nav_left #nav_logo {
  height: 40px;
  width: 100px;
  background: url(../../img/global-sprite.png);
  background-position-y: -118px;
  position: absolute;
  left: 30px;
  top: 10px;
}

#bg_head #head #nav_center {
  height: 37px;
  width: 900px;
  position: absolute;
  top: 5px;
  left: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

#bg_head #head #nav_center #search-alias {
  height: 35px;
  border: none;
  width: 100px;
  border-right: 1px solid black;
  outline: none;
  background: transparent;
}

#bg_head #head #nav_center #head_input {
  height: 31px;
  border: none;
  width: 700px;
  outline: none;
}

#bg_head #head #nav_center #head_button {
  height: 35px;
  width: 90px;
  float: right;
  border: none;
  background: #5e5766;
  outline: none;
  color: #fff;
}

#bg_head #head #nav_right {
  height: 50px;
  width: 370px;
  position: absolute;
  right: 0;
  background: url(../../img/navright.jpg) no-repeat;
}

#bg_head #nav_shop {
  height: 50px;
  width: 1100px;
  position: absolute;
  top: 45px;
}

#bg_head #nav_shop #nav_content {
  width: 160px;
  background: #FFF;
  display: none;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  position: absolute;
  left: 15px;
  z-index: 10;
}

#bg_head #nav_shop #nav_content #nav_shadow {
  height: 0;
  width: 0;
  border: 9px solid transparent;
  border-bottom-color: #BBBBBB;
  position: absolute;
  left: 100px;
  top: -19px;
}

#bg_head #nav_shop #nav_content li {
  height: 22px;
  margin-left: 15px;
}

#bg_head #nav_shop #nav_content li a {
  margin: 0;
}

#bg_head #nav_shop #nav_content li a a:link {
  /*默认状态*/
  color: black;
  text-decoration: none;
}

#bg_head #nav_shop #nav_content li a a:visited {
  /*浏览过的*/
  color: black;
}

#bg_head #nav_shop #nav_content li a a:hover {
  /*悬浮状态*/
  color: orange;
  text-decoration: underline;
}

#bg_head #nav_shop #nav_content p {
  height: 30px;
  line-height: 30px;
}

#bg_head #nav_shop #nav_content p a:link {
  /*默认状态*/
  color: black;
  text-decoration: none;
}

#bg_head #nav_shop #nav_content p a:visited {
  /*浏览过的*/
  color: black;
}

#bg_head #nav_shop #nav_content p a:hover {
  /*悬浮状态*/
  color: orange;
  text-decoration: underline;
}

#bg_head #nav_shop #nav_content #nav_subcats {
  height: 363px;
  width: 420px;
  background: #FFF;
  position: absolute;
  top: -1px;
  left: 155px;
  border: 1px solid #bbbbbb;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

#bg_head #nav_shop #nav_content #nav_subcats img {
  position: absolute;
  bottom: 0px;
  height: 198px;
  width: 100%;
}

#bg_head #nav_shop #nav_content #nav_subcats #nav_subccats_big {
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
  color: #fca043;
  font-size: 20px;
  margin: 10px 5px 10px;
}

#bg_head #nav_shop #nav_content #nav_subcats #nav_subcats_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#bg_head #nav_shop #nav_content #nav_subcats #nav_subcats_top #subcats_top_div1 a {
  color: #e47911;
  font-size: 14px;
}

#bg_head #nav_shop #nav_content #nav_subcats #nav_subcats_top #subcats_top_div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#bg_head #nav_shop #nav_content #nav_subcats #nav_subcats_top #subcats_top_div2 span a a:link {
  /*默认状态*/
  color: black;
  text-decoration: none;
}

#bg_head #nav_shop #nav_content #nav_subcats #nav_subcats_top #subcats_top_div2 span a a:visited {
  /*浏览过的*/
  color: black;
}

#bg_head #nav_shop #nav_content #nav_subcats #nav_subcats_top #subcats_top_div2 span a a:hover {
  /*悬浮状态*/
  color: orange;
  text-decoration: underline;
}

#bg_head #nav_shop #nav_content #nav_subcats #nav_subcats_bottom #subcats_bottom_div {
  margin-top: 15px;
  margin-left: 15px;
  color: #e47911;
  font-size: 14px;
}

#bg_head #nav_shop #nav_content #nav_subcats #nav_subcats_bottom span {
  margin-left: 86px;
}

#bg_head #nav_shop #nav_line_box {
  height: 50px;
  width: 100px;
  margin-left: 15px;
}

#bg_head #nav_shop #nav_line_box #line_1 {
  position: absolute;
  top: 15px;
  font-size: 12px;
}

#bg_head #nav_shop #nav_line_box #line_2 {
  position: absolute;
  top: 30px;
  font-weight: 600;
}

#bg_head #nav_shop #nav_a {
  position: absolute;
  top: 30px;
  left: 180px;
}

#bg_head #tools {
  height: 50px;
  width: 400px;
  position: absolute;
  top: 50px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bg_head #tools .tools_box {
  height: 50px;
  width: 95px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#bg_head #tools #tools_line1 {
  font-size: 12px;
  position: absolute;
  top: 8px;
  left: 20px;
}

#bg_head #tools #tools_line2 {
  font-size: 12px;
  position: absolute;
  top: 8px;
  left: 120px;
}

#bg_head #tools #tools_line3 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: 600;
}

#bg_head #tools #tools_line4 {
  position: absolute;
  top: 20px;
  left: 120px;
  font-weight: 600;
}

#bg_head #tools #tools_line5 {
  position: absolute;
  top: 20px;
  left: 220px;
  font-weight: 600;
}

#bg_head #tools #tools_line6 {
  position: absolute;
  top: 20px;
  left: 320px;
  font-weight: 600;
}

#bg_head #tools #tools_message {
  width: 200px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50px;
  border: 1px solid #BBBBBB;
  border-radius: 3px;
  display: none;
  z-index: 10;
}

#bg_head #tools #tools_message #tools_message_triangle {
  height: 0;
  width: 0;
  border: 9px solid transparent;
  border-bottom-color: #BBBBBB;
  position: absolute;
  top: -18px;
  left: 88px;
}

#bg_head #tools #tools_message #tools_message_button {
  width: 180px;
  height: 40px;
  margin: 10px 10px 0;
  border-color: #F0C14B;
  border-radius: 3px;
  outline: none;
  background: -webkit-linear-gradient(top, #F8E1AB, #F3CF74, #F0C24E);
}

#bg_head #tools #tools_message #tools_message_span {
  font-size: 12px;
  padding-left: 10px;
}

#bg_head #tools #tools_message a:link {
  /*默认状态*/
  color: black;
  text-decoration: none;
}

#bg_head #tools #tools_message a:visited {
  /*浏览过的*/
  color: black;
}

#bg_head #tools #tools_message a:hover {
  /*悬浮状态*/
  color: orange;
  text-decoration: underline;
}

#bg_content {
  width: 100%;
  height: 610px;
  background: #fff;
}

#bg_content #content {
  height: 610px;
  margin: 0 auto;
  position: relative;
}

#bg_content #content #content_left {
  height: 610px;
  width: 600px;
  background: red;
  position: absolute;
}

#bg_content #content #content_left img {
  height: 610px;
}

#bg_content #content #content_right {
  background: #fff;
  position: absolute;
  left: 600px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bg_content #content #content_right #detail li {
  list-style: disc;
}

#bg_content #content #content_right #detail #detail_line1 {
  font-size: 19px;
  font-weight: 400;
}

#bg_content #content #content_right #detail #detail_share {
  height: 35px;
  position: relative;
}

#bg_content #content #content_right #detail #detail_share #detail_share_star {
  position: absolute;
  height: 18px;
  width: 80px;
  background: url(../../img/AmazonUIIcon@sprite.png) no-repeat;
  background-position: -189px -365px;
}

#bg_content #content #content_right #detail #detail_share a {
  position: absolute;
  left: 80px;
  top: 3px;
}

#bg_content #content #content_right #detail #detail_share #detail_share_ico1 {
  height: 17px;
  width: 17px;
  position: absolute;
  background: url(../../img/Amazon@sprite_V2.png);
  background-position: -155px -75px;
  left: 200px;
  top: 3px;
}

#bg_content #content #content_right #detail #detail_share #detail_share_ico2 {
  height: 17px;
  width: 17px;
  position: absolute;
  background: url(../../img/Amazon@sprite_V2.png);
  background-position: -442px -188px;
  left: 220px;
  top: 3px;
}

#bg_content #content #content_right #detail #detail_share #detail_share_ico3 {
  height: 17px;
  width: 17px;
  position: absolute;
  background: url(../../img/Amazon@sprite_V2.png);
  background-position: -139px -2px;
  left: 240px;
  top: 3px;
}

#bg_content #content #content_right #detail #detail_share #detail_share_ico4 {
  height: 17px;
  width: 17px;
  position: absolute;
  background: url(../../img/Amazon@sprite_V2.png);
  background-position: -188px -105px;
  left: 260px;
  top: 3px;
}

#bg_content #content #content_right #detail #detail_line2 {
  font-size: 13px;
}

#bg_content #content #content_right #detail #detail_line2 #detail_line2_span {
  color: #B12704;
  font-size: 17px;
}

#bg_content #content #content_right #detail #detail_line3 {
  font-weight: 700;
  font-size: 13px;
}

#bg_content #content #content_right #detail #detail_line5 {
  font-size: 13px;
  font-weight: 700;
  margin-top: 10px;
}

#bg_content #content #content_right #detail #detail_line5 #detail_line5_span {
  font-size: 13px;
  font-weight: 500;
}

#bg_content #content #content_right #detail #small_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bg_content #content #content_right #detail #small_img div {
  margin: 0 10px;
  border: 1px solid #E0E0E0;
}

#bg_content #content #content_right #detail #detail_line6 {
  padding-left: 20px;
  margin-top: 25px;
}

#bg_content #content #content_right #detail #detail_line6 li {
  font-size: 13px;
  line-height: 19px;
}

#bg_content #content #content_right #buy {
  height: 250px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

#bg_content #content #content_right #buy div {
  margin-top: 20px;
}

#bg_content #content #content_right #buy button {
  width: 180px;
  height: 35px;
  margin-top: 20px;
  border-radius: 3px;
}

#bg_content #content #content_right #buy #add {
  border-color: #F0C14B;
  outline: none;
  background: -webkit-linear-gradient(top, #F8E1AB, #F3CF74, #F0C24E);
}

#bg_content #content #content_right #buy #buy_now {
  border-color: #F0C14B;
  outline: none;
  background: -webkit-linear-gradient(top, #F7CF9C, #F2AD58, #EE9628);
}

#bg_Tail {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

#bg_Tail #Tail {
  width: 1500px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#bg_Tail #Tail_head {
  height: 200px;
  width: 700px;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bg_Tail #Tail_head div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

#bg_Tail .Tail_img {
  width: 100%;
  height: 19px;
  background: url(../../img/tail_logo.gif) no-repeat center top;
}

#bg_Tail .Tail_line1 {
  width: 100%;
  text-align: center;
}

#bg_Tail .Tail_line1 ul {
  display: inline-block;
}

#bg_Tail .Tail_line1 ul .tail_line_first > a {
  border: none;
}

#bg_Tail .Tail_line1 ul li {
  display: inline-block;
  line-height: 18px;
}

#bg_Tail .Tail_line1 ul li a {
  border-left: 1px solid #5e5766;
  margin: 0;
  padding: 0 5px 0;
}

#bg_Tail .Tail_line1 span {
  color: #767676;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
}

#bg_Tail .Tail_line2 {
  width: 100%;
  text-align: center;
}

#bg_Tail .Tail_line2 ul {
  display: inline-block;
}

#bg_Tail .Tail_line2 ul .tail_line_first > a {
  border: none;
}

#bg_Tail .Tail_line2 ul li {
  display: inline-block;
  line-height: 18px;
}

#bg_Tail .Tail_line2 ul li a {
  border-left: 1px solid black;
  margin: 0;
  padding: 0 5px 0;
}

#bg_Tail .Tail_line2 span {
  color: black;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
}
/*# sourceMappingURL=Settlement.css.map */